.main-header h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.section {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.section.first {
  background-color:mediumspringgreen;
}

.section.second {
  background-color: lightcoral;
}

.section.third {
  background-color: skyblue;
}

.specialoffer {
  font-family: Helvetica;
  color: blue;
  font-weight: bold;
}
